

.Message{
  width: 100%;

  .main{
    width: 100%;
    box-sizing: border-box;
    .tab {
      box-sizing: border-box;
      width: 100%;
      height: 2.8rem;
      border-radius: 3px;
      border: 1px solid #efefef;
      display: flex;
      .item{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3361a7;
        position: relative;
        &.active{
          background: #e5e7e9;
          color: #262626;
          box-shadow: 0 1px 1px rgba(0,0,0,.2) inset;
        }
      }
    }

    .list{
      width: 100%;
      .empty{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.8rem;
        background-color: #ffffff;
      }
      ul{
        width: 100%;
        li{
          width: 100%;
          .item{
            box-sizing: border-box;
            padding: .5rem .8rem;
            display: flex;
            .left{
              .headImg{
                background-size: cover;
                width: 3rem;
                height: 3rem;
                border-radius: 3px;
              }
            }
            .right{
              flex: 1;
              margin-left: .9rem;
              display: flex;
              flex-direction: column;
              .userName{
                color: #999999;
                margin: 0;
              }
              .content{
              }
              .fromThread{
                background-color: #eeeeee;
                color: #999999;
                font-size: .8rem;
                box-sizing: border-box;
                padding: .5rem .2rem;
              }
              .bottom{
                color: #aaaaaa;
                font-size: .8rem;
              }
            }
          }
        }
      }
    }
  }
}
.badge{
  width: .5rem;
  height: .5rem;
  background-color: #f83029;
  position: relative;
  right: 0;
  top: -0.5rem;
  border-radius: 2rem;
}