:global{
  html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background-color: rgb(245, 245, 245);
  }

  ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h1,h2,h3,h4,h5,h6{
    font-weight: normal;
  }
  input{
    outline: none;
  }
  p{
    display: block;
  }
  a{
    text-decoration: none;
  }
  input[type='text']{
    border: none;
  }
  textarea{
    border: none;
    width: 100%;
    outline: none;
  }

  .g-dropdown{
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    padding: .5rem 0;
    border: 1px solid #eeeeee;
    ul{
      li{
        padding: .5rem .8rem
      }
    }
  }
  .iconfont{
    font-size: 1.5rem;
    color: #333;
  }

  .g-toast{
    background-color: rgba(0,0,0,.8);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem .8rem;
    color: #ffffff;
    transition: opacity .3s;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
  }

  .g-mask{
    background-color: rgba(0,0,0,.7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .transitionLeft-enter{
    transform:translateX(100%);
  }

  .transitionLeft-enter-active{
    transform: translateX(0);
  }

  .transitionRight-enter{
    transform:translateX(-100%);
  }

  .transitionRight-enter-active{
    transform: translateX(0);
  }

  .transitionLeft-exit{
    transform: translateX(0);
  }


  .transitionLeft-enter,.transitionLeft-enter-active,.transitionRight-enter,.transitionRight-enter-active{
    z-index: 100;
  }

  .transitionLeft-exit,.transitionLeft-exit-active,.transitionRight-exit,.transitionRight-exit-active{
    z-index: 1;
  }

  .transitionLeft-exit-active,.transitionRight-exit-active{
    transition: all 1s ease; /*定义动画的时间和过渡效果*/
    position: absolute;
    width: 100%;
  }
  .transitionLeft-enter-active,.transitionRight-enter-active{
    transition: all 1s ease; /*定义动画的时间和过渡效果*/
    position: absolute;
    width: 100%;
  }

  .router-enter-active{
    position: relative;
    opacity: 0;
    //transition:left,right 2s;

  }
  .router-exit-active{
    position: relative;
    z-index: 1000;
    //transition:left,right 2s;
  }

}

